################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

./vs
./bin
./obj
./Co0nUtilZ/bin
./Co0nUtilZ/obj


/Co0nUtilZ/obj/x64/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Co0nUtilZ/obj/Release/Co0nUtilZ.csprojAssemblyReference.cache
/Co0nUtilZ/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Co0nUtilZ/obj/Debug/Co0nUtilZ.pdb
/Co0nUtilZ/obj/Debug/Co0nUtilZ.dll
/Co0nUtilZ/obj/Debug/Co0nUtilZ.csprojAssemblyReference.cache
/Co0nUtilZ/obj/Debug/Co0nUtilZ.csproj.FileListAbsolute.txt
/Co0nUtilZ/obj/Debug/Co0nUtilZ.csproj.CoreCompileInputs.cache
/Co0nUtilZ/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Co0nUtilZ/bin/Debug/Co0nUtilZ.pdb
/Co0nUtilZ/bin/Debug/Co0nUtilZ.dll
