################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

./vs
./bin
./Co0nUtilZ/bin
/bin/Debug
/Co0nUtilZ/obj/Debug
